/*
#098171
#2D8E6C
#61A363
#9CB95A
#D1CD52



#01A85B
#FFCD2A
#3E4096
*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #FFCD2A;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.content{
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    font-size: 48px;
}
span{
    display: block;
}

form{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    display: block;
}

#valor{
    text-align: center;
    background-color: transparent;
    border: 2px solid #3E4096;
    font-size: 24px;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    letter-spacing: 1px;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#valor:focus{
        outline: none;
}

#valor::placeholder{
    color: rgba(62, 64, 150, 0.9);
}

.btn{
    background-color: #FFCD2A;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    line-height: 20px;
    padding: 16px 20px;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
}

.btn:hover{
    transform: scale(1.05);
}

.btn:active{
    transform: scale(1.05) translateY(2px);
}

.resultado{
    background-color: rgba(62, 64, 150, 0.1);
    padding: 20px;
    border-radius: 15px;
    font-size: 24px;
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.resultado h3{
    padding-left: 15px;
    padding-right: 15px;
}

footer{
    position: fixed;
    bottom: 0;
}

.socialmedia li{
    display: inline-block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.socialmedia img{
    height: 24px;
}